{% extends "feeding/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/edit_pet.css' %}">
  <title>Edit {{ pet.name }} Profile</title>
{% endblock %}

{% block body_block %}
  <div class="jumbotron">
    <div class="media flex-group">
      <img id='profile' class="media-object" src="{{ pet.profile_pic.url }}" alt="Picture of {{ pet.name }}">
      <div class="media-body">
        <form method="POST" class="info" enctype="multipart/form-data" novalidate>
          {{ form|crispy }}
          {% csrf_token %}
          <input type="submit" class='btn btn-success' name="form" value="Submit">
        </form>
      </div>
    </div>
  </div>
{% endblock body_block %}
