{% extends "feeding/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/feeding_schedule.css' %}">
  <title>{{ pet.name }} Feeding Schedule</title>
{% endblock %}

{% block body_block %}
<div class="jumbotron">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img id='profile' class="media-object" src="{{ pet.profile_pic.url }}" alt="Picture of {{ pet.name }}">
      </a>
    </div>
    <div class="media-body">
      <h1 class="media-heading">{{ pet.name }}</h1>
        <form method="POST" class="info" novalidate>
          {{ feeding_form|crispy }}
          {% csrf_token %}
          <input type="submit" class='btn btn-success' name="form" value="Submit">
        </form>
    </div>
  </div>
</div>

{% if feeding_entries %}
 {% for entry in feeding_entries %}
   <div class="jumbotron">
     <form action="{% url 'feeding:delete' entry.pk %}" method="post">
       <h2> <b>Date: {{ entry.date }}</b> </h3>
       <h3> Notes: {{ entry.notes|linebreaks }}</h3>
       <a href="/edit_entry/{{ entry.pk }}" type="submit" class="btn btn-primary" name="edit_entry">Edit Entry</a>
       <input type="submit" class="btn btn-danger" value="Delete" name="delete_entry" onclick="return confirm('Are you sure you want to delete this?')"></button>
       {% csrf_token %}
     </form>
   </div>
 {% endfor %}
{% endif %}

{% endblock %}
