{% extends "feeding/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>My Pets</title>
{% endblock %}

{% block body_block %}
  {% if pets %}
    {% for pet in pets %}
      <div class="jumbotron">
        <div class="media">
          <div class="media-left">
            <img id='profile' class="media-object" src="{{ pet.profile_pic.url }}" alt="Picture of {{ pet.name }}">
          </div>
          <div class="media-body">
            <h1 class="media-heading">{{ pet.name }}</h1>
            <p class="info">
              <b>Species:</b> {{ pet.species }} <br>
              <b>Age:</b> {{ pet.age }} <br>
              <b>Diet:</b> {{ pet.diet }}
            </p>
            <form action="{% url 'feeding:delete' pet.pk %}" method="post">
              <a href="/feeding_schedule/{{ pet.pk }}" type="submit" class="btn btn-primary" id="feeding-button" name="feeding_schedule">Feeding Schedule</a>
              <a href="/edit_pet/{{ pet.pk }}" type="submit" class="btn btn-primary" name="edit_pet">Edit Pet Profile</a>
              <input type="submit" class="btn btn-danger" value="Delete" name="delete_pet" onclick="return confirm('Are you sure you want to delete this?')"></button>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
    {% else %}
      <div class="jumbotron">
        <h2>You Currently Have No Registered Pets</h2>
        <a href="{% url 'feeding:register_pet' %}" class='btn btn-primary'>Register A Pet</a>
      </div>
  {% endif %}

{% endblock %}
